* {
    box-sizing: border-box;
}

body {
    margin: 15px;
}

.article-paragraphs {
    margin-bottom: 8px;
}

.sub-headers {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.extra-top-border.extra-top-border {
    border-top: 2px solid black;
}

.main-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 70px;
    margin: 30px;
}

.main-header-text {
    margin: auto;
    font-size: 60px;
}

.articles-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightskyblue;
    border: 1px solid black;
}

.article-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    padding: 6px;
    align-items: center;
}

.article-one p {
    text-align: left;
}

.article-two {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 50%;
    padding: 6px;
}

.article-two p {
    text-align: left;
}

.article-image {
    border: 1px solid black;
    border-radius: 5px;
}

.article-three {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 25%;
    padding: 6px;
}

.article-three p {
    text-align: left;
}